extends layout 

block content 
    nav.grid-container.portfolio-breadcrumb
        a(href='/') ← Back
    .error.grid-container
        h1 404 Not Found 
        p Oops! Whatever you're looking for, it doesn't exist. &#128517
