extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-12.medium-9.large-9

        //- Add your name.
        h1 Michael Cook

        p.lead.text-light
          | Software Developer

        #bio.portfolio-bio
          p
            | Hi, I&apos;m Michael and I&apos;m a programmer. I have experience in a few different languages,
            | but JavaScript is my strong suit. I love learning, solving problems, and most of all, building
            | neat and useful things! before learning to code, I earned an honours B.A and went to graduate school,
            | but quickly realized academia was not for me. After working and soul searching for a few years,
            | I started reading a book on JavaScript and never looked back! Since 2018 I have been learning to code
            | and have had the time of my life. I am now looking for my first professional opportunity where I can 
            | put my skills to work and make the world a better place!
          
        #skills.skills 
          h4 Skills
          each skill in skills
            div.skill-img 
            img(src='' + skill) 
          p 
            | Over the course of my learning journey so far, I&apos;ve learned a lot. I pride myself not on being an expert 
            | in any language, framework or technology and instead on being adaptable and having the grit to dive into documentation 
            | and learn what I need to get something done. My skillset is never complete, and I am always learning something new. Here 
            | is a list of some of the things I use every day: 
          ul 
            li HTML 
            li Vanilla JavaScript 
            li Bootstrap 
            li Git 
            li Bash 
            li npm
            li Linux (Ubuntu 19.10)
          p 
            | Here are some of the things I have experience using in projects:
          ul 
            li PHP 
            li SQL 
            li Slim framework
            li Composer 
            li Vue.js
            li Node.js 
            li Express.js 
            li Sequelize.js
            li Electron.js
            li jQuery
            li APIs
            li CSS
            li Object-oriented programming 
          p 
            | Here is a list of things I&apos;m especially trying to get better at: 
          ul 
            li Bash
            li Git 
            li Relational Database Management Systems (MySQL, Postgresql etc)
            li CSS
            li Deployment
          
        #contact.contact
          h4 Contact
    
          a(href='#')
            img(src='/static/images/social-media/linkedin.webp')
          a(href='#')
            img(src='/static/images/social-media/twitter.webp')

          p
            | Want to talk about a project or how I could bring value to your company? Feel free to reach out to me on social media, 
            | or send me a message. I would love to hear from you!
            //- Here instead there should be a contact form 
            .contact-form 
              form(action='/about' method='post')
                input(type='text' name='name' placeholder='Name' required)
                input(type='email' name='email' placeholder='Email' required)
                textarea(name='message' placeholder='Message' wrap='soft' rows='5' required)
                button(type='submit') Send


  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  