extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Michael Cook

        //- Feel free personalize the title below
        p.lead.text-light
          | JavaScript Software Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hi, I&apos;m Michael and I&apos;m a programmer. I have experience in a few different languages,
            | but JavaScript is my strong suit. I love learning, solving problems, and most of all, building
            | neat and useful things! before learning to code, I earned an honours B.A and went to graduate school,
            | but quickly realized academia was not for me. After working and soul searching for a few years,
            | I started reading a book on JavaScript and never looked back! Since 2018 I have been learning to code
            | and have had the time of my life. I am now looking for my first professional opportunity where I can 
            | put my skills to work and make the world a better place!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li JavaScript
          li Bootstrap
          li Node.js 
          li NPM
          li Express.js
          li Pug template engine
          li Sequelize.js
          li PHP
          li Composer
          li Slim microframework 
          li Twig template engine
          li SQL
          li APIs
          li Object-oriented programming 
          li MVC design pattern
          li Linux command line
          li Git and Github
        h6 Contact Info

        //- Add your own contact info
        ul
          li 555-555-1234
          li email@email.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  