extends layout 

block content
    nav.grid-container.portfolio-breadcrumb
            a(href='/') â† Back
    .error.grid-container
        h1 Error: #{status}
        h4= message 
        pre= stack