<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Michael A. Cook
    link(rel='apple-touch-icon' sizes='180x180' href='/static/images/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/static/images/favicon/static/images/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/static/images/favicon/favicon-16x16.png')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Inter&display=swap')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            a(href='/')
             img.thumbnail(src='/static/images/michaelscott.jpg' id="portfolio-image")
          .cell.auto
            h5 Michael Cook

            p.text-light
              | Software developer. Continuous learner. Tinkerer.
 
            nav
             a(href='/about') About
             a(href='https://codepen.io/michaelacook' target='_blank') Codepen
             a(href='https://github.com/michaelacook' target='_blank') Github
             a(href='https://npmjs.com/settings/michaelacook/packages' target="'_blank") Packages

            p.text-light.repo
              small 
                | Like this site? Have a suggestion? Check out the Github 
                a(target='_blank' href='https://github.com/michaelacook/portfolio-site') repo 

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')
          span.title-bar-title Michael Cook
      block content
        

      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
