body {
  font-family: Helvetica Neue, Inter, -apple-system, BlinkMacSystemFont,
    Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-weight: bold;
}

h5 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}

h6 {
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  font-size: 15px;
  color: #666;
}

.round {
  border-radius: 5px;
}

.text-light {
  color: #666;
}

.button {
  background-color: teal;
}

.button:hover {
  background-color: #111;
}

a {
  color: #333;
}

a:hover {
  color: darkseagreen;
}

.image {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me {
  padding: 20px;
  /* background: #121213; */
  /* color: #fff; */
  color: #121213;
  background: #fff;
  box-shadow: 1px 0 16px rgba(0, 0, 0, 0.2) !important;
}

.portfolio-me p {
  font-size: 14px;
  color: #999;
}

.portfolio-me a {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #555;
  font-size: 13px;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}

.portfolio-me a:hover {
  color: #999;
}

.portfolio-breadcrumb {
  margin: 0;
  padding: 20px;
  /* border-bottom: 1px solid #eaeaea; */
}

.portfolio-breadcrumb a {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}

.portfolio-intro {
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
}

.portfolio-index {
  margin: 0;
  padding: 10px 50px;
}

.portfolio-index .thumbnail {
  margin-bottom: 5px;
}

.portfolio-index .thumbnail:hover {
  transform: scale(1.03);
}

.portfolio-index a {
  color: #222;
}

.portfolio-index .cell {
  margin-bottom: 15px;
}

.portfolio-index .cell h5 {
  letter-spacing: 1px;
}

.portfolio-meta {
  padding-left: 20px;
  margin-top: 17px;
}

.portfolio-meta .button {
  margin-bottom: 5px;
}

.portfolio-project p {
  border: none;
}

.portfolio-project a {
  display: block;
  color: teal;
  margin-bottom: 6px;
}

.portfolio-project a:hover {
  color: darkseagreen;
}

.portfolio-project li {
  font-size: 13px;
  color: #444;
}

.portfolio-project .image {
  margin-top: 8px;
}

.portfolio-bio {
  line-height: 25px;
}

.repo {
  /* position: absolute;
  bottom: 0;
  right: 0; */
  /* padding: 25px; */
  margin-top: 30px;
}

.repo a {
  text-transform: none;
  letter-spacing: normal;
}

.repo a:hover {
  color: darkseagreen;
}

#portfolio-image {
  width: 215px;
  height: 215px;
  border-radius: 50%;
  border: 2px solid teal !important;
}

#my-info nav a {
  display: block;
  margin-bottom: 10px;
}
